@model SimplestRazor.Pages.Index
@{
    var Module = Model.GetModule<SimplestRazor.Pages.Users>();
}

@{Html.RenderPartial("Header");}

this is @Model.Module.Title

<main role="main" class="pb-3">
<form method="post">
    @Html.AntiForgeryToken()
    <input id="name" name="name" type="text"/>
    <input type="submit"/>
</form>
</main>
You said: @Module.Name

@{Html.RenderPartial("Footer");}