@model SimplestRazor.Pages.Index
@{
    var Module = Model.GetModule<SimplestRazor.Pages.Examples.Bootstrap.Selector2>();
}

@{Html.RenderPartial("Header");}

<script>
    /*
    let jsonTable = '[{"UserId":1,"UserName":"Satinder Singh","Education":"Bsc Com Sci","Location":"Mumbai"},{"UserId":2,"UserName":"Amit Sarna","Education":"Mstr Com Sci","Location":"Mumbai"},{"UserId":3,"UserName":"Andrea Ely","Education":"Bsc Bio-Chemistry","Location":"Queensland"},{"UserId":4,"UserName":"Leslie Mac","Education":"MSC","Location":"Town-ville"},{"UserId":5,"UserName":"Vaibhav Adhyapak","Education":"MBA","Location":"New Delhi"},{"UserId":6,"UserName":"Rabit Roger","Education":"AFD","Location":"Cartoon"}]';
    let jsonChecked = '[{"UserId":1}]';

    let element = null;
    jQuery(document).ready(function () {
        element = document.getElementById('test0');

        element.addEventListener('input', function(){  
            document.getElementById('test1').value = element.value;
        });

        element.addEventListener('input', function(){  
            document.getElementById('test2').value = element.value;
        });
    });

    <td><input id="check[]" name="check" type="checkbox" value="a"></td>
    */
</script>


<main role="main" class="pb-3">
    <div style="width:100%;">
        <div class="row">
            <div class="col-sm" style="text-align:right">
                Buscar: <input type="text" id="T1_SearchText" />
            </div>
        </div>
    </div>
        @{
        var Params1 = new Reload.Razor.Helpers.CheckboxList.Parameters
            {
                Id = "check",
                ShowHeader = true,
                ColumnNameId = "UserId",
                TextboxSearchId = "T1_SearchText",
                Width = "400px",
                Height = "100px",
                JsonURL = "/?r=Examples_DynamicGrid_Data_SelectAll",
                JsonCheckedData = @"[{""UserId"":1},{""UserId"":3}]"
            };
    }
    
    <form method="post" name="form" id="form">
        @Html.AntiForgeryToken()
        
        @Html.DrawCheckboxList(Params1)

    </form>

        <script>
            function myFunc() {
               checkObj.JsonParams = {test1:1, test2:2};
               checkObj.refresh();
            }
        </script>

    <button type="submit" onclick="myFunc();">send</button>

</main>

@{Html.RenderPartial("Footer");}

----
