@model SimplestRazor.Pages.Index
@{
    var Module = Model.GetModule<SimplestRazor.Pages.Examples.DynamicGrid.Examples_DynamicGrid_Index>();

    var GridParams = new Reload.Razor.Helpers.DrawGridParameters()
    {
        FormAction = "/?r=Examples_DynamicGrid_Data_SelectAll",
        Width="90%",//Width = "1000px",
        ColumnSearchWidths = "['1px','40px']"
    };
}

@{Html.RenderPartialAsync("Header");}

<main role="main" class="pb-3">
<form method="post" id="form">
    @Html.AntiForgeryToken()    
    @Html.DrawGridPlaceHolder(GridParams);
</form>
</main>


@Html.DrawGrid(GridParams);



@{Html.RenderPartial("Footer");}