@model SimplestRazor.Pages.Index
@{ViewContext.Writer.Write(@"<!DOCTYPE html><html lang=""en""><head><title>");}
@ViewData["Title"]
@{ViewContext.Writer.Write(@"</title></head><body>");}
    Header<hr />