@model SimplestRazor.Pages.Index
@{ViewContext.Writer.Write(@"<!DOCTYPE html><html lang=""en""><head><title>");}

@ViewData["Title"]
@{ViewContext.Writer.Write(@"</title>");}
remember that form controls need to have a "name" property
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/mvc-grid/mvc-grid.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/menubar.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/DataTables/dataTables.bootstrap5.min.css"/>
<link rel="stylesheet" href="~/css/FixedHeader/fixedHeader.bootstrap5.min.css"/>
<link rel="stylesheet" href="~/images/bootstrap-icons/bootstrap-icons.css"/>
<link rel="stylesheet" href="~/fontawesome/css/all.min.css"/>
<link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />
<link rel="stylesheet" href="~/css/Reload/gridfix.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/menubar.js" asp-append-version="true"></script>
<script src="~/js/DataTables/jquery.dataTables.min.js"></script>
<script src="~/js/FixedHeader/fixedHeader.bootstrap5.js"></script>
<script src="~/js/DataTables/dataTables.bootstrap5.min.js"></script>

<script type="module" src="~/js/split/split.js"></script>

<script src="~/js/Reload/selector.js"></script>
<script src="~/js/Reload/dropdown.js"></script>
<script src="~/js/Reload/gridfix.js"></script>
<script src="~/js/Reload/checkboxlist.js"></script>

@{ViewContext.Writer.Write(@"</head><body><main role=""main"" class=""pb-3"">");}
    Header
    
    @Html.Menu()
    <a href="/?r=About">About</a> |
    <a href="/?r=Examples_DynamicGrid_Index">Dynamic Grid</a> |
    <a href="/?r=Examples_DynamicGrid2_Index">Dynamic Grid 2</a> |
    <a href="/?r=Examples_DynamicGrid_Data_SelectAll">Dynamic Grid Data</a> |
    <a href="/?r=Accordion">Accordion</a> |
    <a href="/?r=Tabs">Tabs</a> |
    <a href="/?r=DatePicker">DatePicker</a> |
    <a href="/?r=DropDown">DropDown</a> |
    <a href="/?r=Selector">Selector</a> |
    <a href="/?r=Selector2">Selector2</a> |
    <a href="/?r=Split">Split</a> |
    <a href="/?r=EditableGrid">EditableGrid</a>
    <a href="/?r=Upload">File Upload</a>
<hr />
